<div class="w-100 d-flex justify-content-center align-items-center bg-danger-subtle border border-dark border-3" style="height: 10vh">
  <h1>Calendario</h1>
  <hr>
</div>
<div cdkDropListGroup class="d-flex justify-content-center flex-wrap">
  @for (date of dates; track date; let i = $index){
  <div class="dates-container">
    <h2 class="my-4">{{ date }}</h2>
    <div
      cdkDropList
      [cdkDropListData]="todoList[i].todos"
      class="list"
      (cdkDropListDropped)="drop($event)"
    >
      @for (item of todoList[i].todos; track item; let indexItem = $index) {
      <div class="box" [class]="item.color" cdkDrag>
        {{ item.name }}
        <button
          (click)="deleteTasks(i, indexItem)"
          type="button"
          class="btn-close"
          aria-label="Close"
        ></button>
      </div>
      }
    </div>
    <div class="d-flex justify-content-center w-100">
      <button class="btn btn-success" (click)="openDialog(i)">new +</button>
    </div>
  </div>
  }
</div>
<div class="d-flex justify-content-center mt-5">
  <button (click)="saveTasks()" class="btn btn-primary btn-lg">Guardar</button>
</div>
